.log-table tbody {
  /* height: 800px; */
  margin-bottom: 100px;
  overflow: auto;
}
.table-contents{
  margin-left: auto;
  margin-right: auto;
width: 90%;
}

  .list-container{
    align-items: center;
  }




  