


.list-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }


.login-logout{
    display: flex;
    text-align: center;
    align-items: center;
}





